.container{
    border: 0px solid black;
}
.row{
    border: 0px solid red;
}
.col, .col-8, .col-4,.col-12 {
    border: 0px solid green;
}
body{
    background: gray;
    
}
#header{
    background: orange;
    padding: 10px 0px 10px 10px;
}
#menu{
    background: pink;
    padding: 3px 0px;
}
#menu ul{
    list-style: none;
    margin: 0;
}
#menu ul li{
    display: inline-block;
}
#content{
    background: white;
}
#sidebar{
    background: lightblue;
}
#footer{
    background: orange;
}